/*-------- COLOR SHEME ---------*/
$primary-color: #5cc8f3;
$secondary-color: #029cd7;
$tertiary-color: rgb(215, 215, 215);

$default-text-padding: 10px;
$default-box-padding: 5px;
$default-font-size: 18px;
$default-font: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$border: 1px solid $primary-color;
